<tr>
  <td><%= link_to tutorial.title, site_tutorial_path(@site, tutorial)  %></td>
  <td><%= l tutorial.published_at %></td>
  <td><%= l tutorial.unpublished_at %></td>
  <td><%= link_to 'Edit', edit_site_tutorial_path(@site, tutorial) %></td>
</tr>
