<div class="span12">
  <h1><%= title @site.name, 'Tutorials' %></h1>
  <%= link_to(new_site_tutorial_path(@site), :class => 'btn btn-primary') do %>
    <i class="icon-list-alt"></i> Create Tutorial
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= render @tutorials %>
    </tbody>
  </table>
</div>
