/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require bootstrap-datepicker
 */

.nav-list li {
  position: relative;
}

.nav-list .remove {
  position: absolute;
  top: 0;
  right: 0;
}

#sites-list a:hover {
  text-decoration: none;
}

.nav-list .remove:hover {
  text-decoration: none;
  color: red;
}

#tips-list .icon-reorder {
  margin-right: 10px;
  cursor: move;
}

.support-links {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #EEE;
  font-size: 0.85em;
}
