<div id="sites-list" class="well" style="padding: 8px 0">
  <ul class="nav nav-list">
    <li class="nav-header">Your sites</li>
    <%= render @sites %>
    <li>
      <span>
        <%= link_to 'Add new site', '#new-site-modal', class: 'btn btn-small btn-primary', :'data-toggle' => 'modal' %>
      </span>
    </li>
  </ul>
</div>
