<div class="payoff">
  <p class="big">
    Catchy notifications<br>
    in your own sites,<br>
    at the right place and time.<br>
  </p>
  <p>
    <b>You</b> write them, <b>Hermes</b> delivers for you.
  </p>
</div>

<div style="margin-top: 90px; border-top: 1px solid #DDD9AD; padding-top: 20px;">
  <div style="float: left; margin-right: 20px">
    <%= link_to "http://railsrumble.com/entries/385-hermes" do %>
      <%= image_tag "http://s0.railsrumble.com/rails-rumble-badge-2013.png" %>
    <% end %>
  </div>
  <div>
    <b>Sample credentials:</b>
    <ul class="unstyled">
      <li>email: user@example.com</li>
      <li>password: password</li>
    </ul>
  </div>
</div>
