<div class="payoff">
  <p class="big">
    Catchy notifications<br>
    in your own sites,<br>
    at the right place and time.<br>
  </p>
  <p>
    <b>You</b> write them, <b>Hermes</b> delivers for you.
  </p>
</div>

<div style="margin-top: 50px;">
  Sample credentials:
  <ul>
    <li>email: user@example.com</li>
    <li>password: password</li>
  </ul>
</div>
