<div class="control-group">
  <div class="input-prepend">
    <span class="add-on">Name</span>
    <%= f.text_field :name, {:class => 'input-xlarge'} %>
  </div>
</div>
<div class="control-group">
  <div class="input-prepend">
    <span class="add-on">HostName</span>
    <%= f.text_field :hostname , {:class => 'input-xxlarge'}%>
  </div>
</div>

<div class="control-group">
  <%= f.submit 'Save!' %>
</div>
