<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Edit an existing site</h3>
</div>

<%= form_for site, method: :put, remote: true, :html => { :class => 'form-horizontal', :style => 'margin: 0' } do |f| %>
  <div class="modal-body">
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <%= f.text_field :name, { :class => 'input-xlarge' } %>
        <span class="help-block">Enter a name for the site you are adding.</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Address</label>
      <div class="controls">
        <%= f.text_field :hostname , { :class => 'input-xlarge' } %>
        <span class="help-block">Enter the URL for the site you are adding (example: http://www.railsrumble.com).</span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <span class="help-block">Hint: don't forget to add the <code>hermes.js</code> script to your site!</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Update site', class: 'btn btn-primary' %>
  </div>
<% end %>
