<div>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Hostname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to site.name, site_path(site)  %></td>
        <td><%= site.hostname %></td>
      </tr>
    </tbody>
  </table>
</div>
