<div class="row">
  <div class="large-12 columns">
    <table width="100%">
      <thead>
        <tr>
          <th width="70%">Description</th>
          <th width="30%">Hostname</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= link_to site.name, site_path(site)  %></td>
        <td><%= site.hostname %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
