<div class="span12">
  <h1><%= title 'Your sites' %></h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Hostname</th>
      </tr>
    </thead>
    <tbody>
    <%= render @sites %>
    </tbody>
  </table>
</div>
