<div class="welcome">
  <%= image_tag 'hermes-logo.png' %>
  <h3>Welcome to Hermes</h3>
</div>


<%#= form_for @site, :html => {:class => ''} do |f| %>
  <%#= render 'form', :f => f %>
<%# end %>

<div class="explain">
  <p>
    To set up Hermes for your website, add the following code to your pages
    just before the ending <code>&lt;/body&gt;</code> tag:
  </p>

  <pre>&lt;script src="<%= root_url + 'assets/hermes.js' %>"&gt;&lt;/script&gt;</pre>

  <p>
    Then, add your sites using the button "New site" on the left.
  </p>
</div>

<div class="explain">
  <p>
    Once you added a site, you can add as many messages as you wish to it: they will be shown to your visitor until they dismiss them.
  </p>
  <p>
    You can decide, for every single message:
  </p>
  <ul>
    <li>the publishing time frame</li>
    <li>the visualization order (for multiple messages on one page)</li>
    <li>the layout type (broadcast message or tooltip bound to a specific page element)</li>
  </ul>
</div>
