<div>
  <h3><%= tip.title %></h3>

  <dl>
    <dt>Publish at</dt>
    <dd><%= l tip.published_at %></dd>

    <dt>Unpublish at</dt>
    <dd><%= l tip.unpublished_at %></dd>
  </dl>

  <%= link_to 'Edit', edit_site_tip_path(@site, tip) %>
</div>
