<div>
  <h3>
    <%= title @site.name, 'Tips' %>
    <%= link_to 'Create a new tip', new_site_tip_path(@site), class: 'btn', style: 'float: right' %>
  </h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @tips %>
    </tbody>
  </table>
</div>
